extends layout

append content
    #particles-js
    #terminal
        h1#prompt jazak
            span#symbol  &#8226;
            span#root  ~
            span#directory /Home
            span#arrow » 
            span#cursor _
            
    #nav
        p#github-link 
            a(target="_blank" rel="noreferrer" href="https://github.com/jaza-k") GitHub
        span.space &nbsp;
        p#resume-link 
            a(href="#") Résumé
        span.space &nbsp;
        p#projects-link
            a(href="/projects") Projects
        span.space &nbsp;
        p#contact-link
            a(href="#" id="email-link" title="email-alert") Contact

    #intro
        h2#main-heading Hey there,
        p#intro-one I’m Jaza, a full-stack software developer and cybersec enthusiast currently based in beautiful 
            span.location Alberta, Canada
            span .
        p#intro-two I like to create, design, develop, and build new things that spark my interest.
        p#intro-three To see what I've worked on or currently making, head over to my 
            span.git #[a(href="https://github.com/jaza-k" style="color:#6DDF6B;" target="_blank" rel="noreferrer") #[em GitHub] ]
            span profile or check out the 
            span.projects #[a(href="https://github.com/jaza-k" style="color:#CA86FF;" target="_blank" rel="noreferrer") #[em Projects] ] 
            span section.
        p#intro-four To get in touch with me, feel free to shoot me an 
            span.email #[a(href="#" id="email-link" style="color:#53C2DA;" title="email-alert") #[em email]]
            span .

    #footer
    
block scripts
    script(src="/lib/particles.min.js")
    script(src="/js/home.js")
    script
        | document.getElementById("email-link").addEventListener("click",function(){prompt("You can copy my e-mail address below: ","jaza-k@protonmail.com")});
