extends layout

append content
    div#particles-js
    div.terminal
        h1#prompt jazak
            span#symbol  &#8226;
            span#root  ~
            span#directory /Home
            span#arrow »
            span.space &nbsp;
            //- div.cursor

block scripts
    script(src="/lib/particles.min.js")
    script(src="/js/home.js")
