extends layout

append content
    div#particles-js
    div.top-nav
        div.terminal
            div.terminal1
                h1#prompt root@kali
                    span.symbols  : 
                    span#root ~ 
                    span.symbols # 
            div.terminal2
                h1#command ./intro.sh

block scripts
    script(src="/lib/particles.min.js")
    script(src="/js/home.js")
