// Jaza K. 
// https://github.com/jaza-k/personal-website

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="author" content=author)
    //- normalize.css file to make browsers render all elements more consistently 
    link(rel="stylesheet" href="/public/stylesheets/normalize.min.css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fira+Code&display=swap")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata&display=swap")
    
    link(rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css")
    //- home CSS file
    link(rel="stylesheet" href="/stylesheets/home.min.css")
    block head
    title=title
    meta(name="description" content=description)
    
  body
    block content

    block footer
      footer#footer
        a#footer-link(href='/')
          //- #footer-content
          //-   img#footer-logo(src='/img/logo.png', alt='Personal logo')
    #bottom-background
    block scripts
