/// Viewport sized typography with minimum and maximum values
/// @author Eduardo Boucas (https://codepen.io/eduardoboucas/)
=responsive-font($responsive, $min, $max: false, $fallback: false)
  $responsive-unitless: $responsive / ($responsive - $responsive + 1)
  $dimension: if(unit($responsive) == "vh", "height", "width")
  $min-breakpoint: $min / $responsive-unitless * 100 / 16px + 0em
  @media (max-#{$dimension}: #{$min-breakpoint})
    font-size: $min
  @if $max
    $max-breakpoint: $max / $responsive-unitless * 100 / 16px + 0em
    @media (min-#{$dimension}: #{$max-breakpoint})
      font-size: $max
  @if $fallback
    font-size: $fallback
  font-size: $responsive

$bg-color: #0a0f13
$main-font: "Fira Code"
$sec-font: "Inconsolata"
  
$github-color: #6DDF6B
$resume-color: #D8DB4B
$contact-color: #53C2DA
$projects-color: #CA86FF

$break-large: 1400px
$break-mid: 775px
$break-small: 500px

body
  background-color: $bg-color
  background-image: url("/img/what-the-hex-dark.png")
  background-position: 0 0
  background-attachment: fixed
  height: 90vh
  overflow: hidden

#particles-js
  position: fixed
  background-position: 50% 50%
  background-repeat: no-repeat
  width: 100%
  height: 100%
  top: 0
  z-index: 0

// NAVIGATION

@keyframes navLinkFade
  from 
    opacity: 0
    transform: translateX(50px)
  to
    opacity: 1
    transform: translateX(0px)

#nav
  user-select: none
  font-family: $main-font
  +responsive-font(2vw, 15px, 17px)
  display: inline-flex
  text-transform: uppercase
  margin-right: 20px
  position: fixed
  top: 0%
  right: 0%
  letter-spacing: 0.04em
  vertical-align: middle
  @media (max-width: 780px)
    margin-top: 5px
  @media (max-width: $break-mid)
    display: none

#nav a, .nav-links a
  text-decoration: none
  color: white
  padding-bottom: 8px

#github-link
  border-bottom-color: $github-color

#resume-link
  border-bottom-color: $resume-color

#projects-link
  border-bottom-color: $projects-color

#contact-link
  border-bottom-color: $contact-color

#github-link, #resume-link, #projects-link, #contact-link
  padding-bottom: 4px
  border-bottom-width: 3px
  border-bottom-style: solid
  @media (max-width: 775px)
    width: max-content

#burger
  display: none
  cursor: pointer
  position: fixed
  top: 12px
  right: 3.8%
  z-index: 9
  @media (max-width: $break-mid)
    display: block

#burger div
  width: 25px
  height: 1.8px
  background-color: #fff
  margin: 5px
  transition: all 0.3s ease

.toggle-menu .line-one
  background-color: #EAEAEA
  transform: rotate(-45deg) translate(-5px, 6px)
 
.toggle-menu .line-two
  background-color: #EAEAEA
  opacity: 0
 
.toggle-menu .line-three
  background-color: #EAEAEA
  transform: rotate(45deg) translate(-3px, -4px)
 
.hidden-div
  color: green
  height: 100vh
  position: absolute
  top: 0
  right: 0px
  width: 40%
  background-color: #000
  display: none
  z-index: 8
  box-shadow: -15px 0 28px #000
  opacity: 0.98
  @media (max-width: 500px)
    width: 50%

.hidden-nav-links
  width: 160px
  font-family: $main-font
  font-weight: 10
  text-transform: uppercase
  color: #fff
  text-align: center
  letter-spacing: 0.04em
  margin-top: 120px
  margin-left: 20%
  margin-right: 25%
  display: flex
  flex-direction: column
  align-items: space-around
  @media (max-width: 500px)
    margin-top: 90px
    margin-left: 15%

.hidden-nav-links li
  margin-bottom: 40px
  list-style: none

@keyframes fadeIn
 0%
   opacity: 0
 100%
   opacity: 1
  
.toggle-hidden-div
  display: block
  animation-name: fadeIn
  animation-duration: 0.2s

@media only screen and (max-width: $break-mid)
  .nav-active
    transform: translate(0%)

// TERMINAL 

#terminal
  user-select: none
  margin: 0.5vh 0 0 15px
  +responsive-font(1vw, 8px, 9px)
  display: inline-block
  position: fixed
  top: 0%
  left: 0%
  @media (max-width: $break-mid)
    +responsive-font(1vw, 8px, 9px)
    margin-top: 5px
    margin-left: 10px
  @media (max-width: $break-small)
    margin-top: 0

#prompt, #home-text
  color: #53FFD6

#symbol, #arrow, #error-number
  color: #FC61FF

#root, #directory, #info-text, #error-heading, #go-home
  color: #fff

#prompt, #symbol, #root, #arrow, #info-text, #go-home, #home-text
  font-family: $main-font
  font-weight: 10
  display: inline-block
  text-align: center
  letter-spacing: 0.04em

#arrow
  margin: 0 0 1px 4px
  +responsive-font(2.8vw, 17px, 19px)
  @media (max-width: $break-mid)
    +responsive-font(1vw, 14px, 16px)
    margin-top: 3px

#cursor
  color: white
  margin-left: 5px
  position: relative
  bottom: 2px
  +responsive-font(4vw, 19px, 21px)
  animation: blink 1.8s infinite
  -webkit-animation: fade 1s infinite
  @media (max-width: $break-mid)
    +responsive-font(1vw, 15px, 16px)

@keyframes fade
  from
    opacity: 1.0
  50%
    opacity: 0
  to
    opacity: 2.0

@webkit-keyframes fade 
  from 
    opacity: 1.0
  50%
    opacity: 0.5
  to
    opacity: 1.0

.space
  width: 3vw
  @media (max-width: 700px)
    display: none

// CONTENT

#intro
  margin-top: 96px
  padding-left: 3vw
  padding-right: 20vw
  display: inline-block
  overflow-y: scroll
  margin-right: 350px
  @media (max-width: $break-large)
    margin-right: 0
  @media (max-width: $break-mid)
    margin: 48px 10px 0 0
    padding: 0 8px 0 3px

#main-heading
  color: white
  font-family: $sec-font
  +responsive-font(4vw, 30px, 35px)
  font-weight: 800
  font-style: italic
  margin-bottom: 20px
  animation-name: textFadeIn
  animation-duration: 1.3s
  @media (max-width: $break-mid)
    +responsive-font(3vw, 31px, 32px)
    margin-bottom: 15px
    font-weight: 1000
    font-style: normal
  @media (max-width: $break-small)
    margin-left: 5px

@keyframes textFadeIn
  0% 
    opacity: 0
  100%
    opacity: 1

#intro-one, #intro-two, #intro-three, #intro-four
  color: white
  font-family: $sec-font
  +responsive-font(1vw, 17px, 20px)
  padding-left: 2.5vw
  line-height: 25px
  letter-spacing: 0.06em
  margin-bottom: 20px
  overflow-y: scroll
  animation-name: slowFadeIn
  animation-duration: 1.7s
  @media (max-width: $break-mid)
    +responsive-font(2vw, 16px, 17px)
    line-height: 20px
    margin-bottom: 5px
    padding: 0 5px 0 13px
    letter-spacing: 0.02em

#intro-two
  margin-bottom: 45px
  @media (max-width: $break-mid)
    margin-bottom: 40px
  @media (max-width: $break-small)
    margin-bottom: 30px

#intro-three, #intro-four
  animation-name: slowestFadeIn
  animation-duration: 3s

@keyframes slowFadeIn
  0%
    opacity: 0
  50%
    opacity: 0
  75%
    opacity: 0
  100%
    opacity: 1

@keyframes slowestFadeIn
  0%
    opacity: 0
  50%
    opacity: 0
  75%
    opacity: 0
  100%
    opacity: 1

.location 
  color: #AA2828

.email a, .projects a, .git a
  text-decoration: none

// FOOTER 

#bottom-background
  position: fixed
  z-index: 0
  background-image: linear-gradient(to top, darken(#000000, 1%) 50%, transparentize(#000000, 1) 100%)
  bottom: 0
  left: 0
  width: 100vw
  height: 15vw
  max-height: 150px
  min-height: 100px
  @media (max-width: 768px)
    height: 33vw
  @media (max-width: $break-small)
    height: 18vh

#footer
  position: fixed
  right: 2%
  bottom: 0%
  z-index: 4

#footer-content
  width: 100%

#footer-logo
  width: 100px
  transition: 0.3s
  user-select: none
  opacity: 0.8
  @media (max-width: $break-small)
    width: 80px
    bottom: -3%
  @media (max-width: 400px)
    width: 70px
    right: 6%
    bottom: -2%
  &:hover
    transform: scale(1.1)
    opacity: 1
