/// Viewport sized typography with minimum and maximum values
/// @author Eduardo Boucas (@eduardoboucas)
@mixin responsive-font($responsive, $min, $max: false, $fallback: false) 
  $responsive-unitless: $responsive / ($responsive - $responsive + 1)
  $dimension: if(unit($responsive) == 'vh', 'height', 'width')
  $min-breakpoint: $min / $responsive-unitless * 100
  @media (max-#{$dimension}: #{$min-breakpoint}) 
    font-size: $min
  @if $max 
    $max-breakpoint: $max / $responsive-unitless * 100
    @media (min-#{$dimension}: #{$max-breakpoint}) 
      font-size: $max
  @if $fallback 
    font-size: $fallback
  font-size: $responsive

$bg-color: #0a0f13

body
  background-color: $bg-color
  background-image: url("/img/what-the-hex-dark.png")
  background-position: 0 0
  background-attachment: fixed
  height: 90vh
  overflow-x: hidden
  text-align: center

#particles-js
  position: absolute
  background-position: 50% 50%
  background-repeat: no-repeat
  width: 100%
  height: 100%
  top: 0
  z-index: 0

.terminal
  +responsive-font(1vw, 8px, 12px)
  display: inline-block
  position: fixed
  top: 0%
  left: 0%
  // transform: translate(-50%, -50%)
  border: 1px solid red

#prompt
  color: #53FFD6

#symbol, #arrow
  color: #FC61FF

#root, #directory
  color: #fff

#prompt, #symbol, #root, #arrow
  font-family: "Fira Code"
  font-weight: 10
  display: inline-block
  text-align: center
  letter-spacing: 0.04em

#arrow
  margin-left: 10px

.cursor   // ************ TO-DO: BRING BACK BLINKING BORDER!!!!   **************
  // border-color: #D8D8D8
  // border-width: 1px
  border: 1px solid #d8d8d8
  height: 4vw
  max-height: 2vw
  min-height: 1vw
  background-color: #D8D8D8
  width: 1vw
  display: inline-block
  margin-left: 2vw
  vertical-align: middle
  margin-bottom: 1vw
  animation:blinkingCursor 1.2s infinite

@keyframes blinkingCursor
  0%
    opacity: 100%
  50%
    opacity: 0%
  100%
    opacity: 100%
