/// Viewport sized typography with minimum and maximum values
/// @author Eduardo Boucas (https://codepen.io/eduardoboucas/)
=responsive-font($responsive, $min, $max: false, $fallback: false)
  $responsive-unitless: $responsive / ($responsive - $responsive + 1)
  $dimension: if(unit($responsive) == "vh", "height", "width")
  $min-breakpoint: $min / $responsive-unitless * 100 / 16px + 0em
  @media (max-#{$dimension}: #{$min-breakpoint})
    font-size: $min
  @if $max
    $max-breakpoint: $max / $responsive-unitless * 100 / 16px + 0em
    @media (min-#{$dimension}: #{$max-breakpoint})
      font-size: $max
  @if $fallback
    font-size: $fallback
  font-size: $responsive

$bg-color: #0a0f13
$main-font: "Fira Code"
$sec-font: "Inconsolata"
  
$github-color: #6DDF6B
$resume-color: #D8DB4B
$contact-color: #53C2DA
$projects-color: #CA86FF
$location-color: #AA2828

$break-large: 1400px
$break-mid: 775px
$break-small: 500px

body
  background-color: $bg-color
  background-image: url("/img/what-the-hex-dark.png")
  background-position: 0 0
  background-attachment: fixed
  height: 90vh
  overflow-x: hidden

#particles-js
  position: absolute
  background-position: 50% 50%
  background-repeat: no-repeat
  width: 100%
  height: 100%
  top: 0
  z-index: 0

// TO-DO: FIX SCROLL PROBLEM. ADD INVISIBLE DIV/BACKGROUND FOR TEXT TO DISAPPEAR UNDER

#terminal
  // border: 1px solid red
  user-select: none
  margin-top: 0.5vh
  margin-left: 15px
  +responsive-font(1vw, 8px, 9px)
  display: inline-block
  position: fixed
  top: 0%
  left: 0%
  @media (max-width: $break-mid)
    +responsive-font(1vw, 8px, 9px)
    margin-top: 5px
    margin-left: 10px
  @media (max-width: $break-small)
    margin-top: 0

#prompt, #home-text
  color: #53FFD6

#symbol, #arrow, #error-number
  color: #FC61FF

#root, #directory, #info-text, #error-heading, #go-home
  color: #fff

#prompt, #symbol, #root, #arrow, #info-text, #go-home, #home-text, #description
  font-family: $main-font
  font-weight: 10
  display: inline-block
  text-align: center
  letter-spacing: 0.04em

#arrow
  margin-left: 4px
  +responsive-font(2.8vw, 17px, 19px)
  @media (max-width: $break-mid)
    +responsive-font(1vw, 14px, 16px)
    margin-top: 3px

#cursor
  color: white
  margin-left: 5px
  position: relative
  bottom: 2px
  +responsive-font(4vw, 19px, 21px)
  animation: blink 1.8s infinite
  -webkit-animation: fade 1s infinite
  @media (max-width: $break-mid)
    +responsive-font(1vw, 15px, 16px)

@keyframes fade
  from
    opacity: 1.0
  50%
    opacity: 0
  to
    opacity: 2.0

@webkit-keyframes fade 
  from 
    opacity: 1.0
  50%
    opacity: 0.5
  to
    opacity: 1.0

#nav
  user-select: none
  font-family: $main-font
  +responsive-font(2vw, 15px, 17px)
  display: inline-flex
  text-transform: uppercase
  margin-right: 20px
  position: fixed
  top: 0%
  right: 0%
  letter-spacing: 0.04em
  vertical-align: middle
  @media (max-width: 780px)
    margin-top: 5px
  @media (max-width: $break-mid)
    display: none

#nav a
  text-decoration: none
  color: white
  padding-bottom: 8px

#github-link
  border-bottom-color: $github-color

#resume-link
  border-bottom-color: $resume-color

#projects-link
  border-bottom-color: $projects-color

#contact-link
  border-bottom-color: $contact-color

#github-link, #resume-link, #projects-link, #contact-link
  padding-bottom: 4px
  border-bottom-width: 3px
  border-bottom-style: solid
  @media (max-width: 700px)
    border-bottom-width: 0

.space
  width: 3vw
  @media (max-width: 700px)
    display: none

#intro
  margin-top: 96px
  padding-left: 3vw
  padding-right: 20vw
  display: inline-block
  margin-right: 350px
  @media (max-width: $break-large)
    margin-right: 0
  @media (max-width: $break-mid)
    margin: 55px 10px 0 0
    padding: 0 8px 0 3px

#main-heading
  color: white
  font-family: $sec-font
  +responsive-font(4vw, 30px, 35px)
  font-weight: 800
  font-style: italic
  margin-bottom: 20px
  animation-name: textFadeIn
  animation-duration: 1.3s
  @media (max-width: $break-mid)
    +responsive-font(3vw, 31px, 32px)
    margin-bottom: 15px
    font-weight: 1000
    font-style: normal

@keyframes textFadeIn
  0% 
    opacity: 0
  100%
    opacity: 1

#intro-one, #intro-two, #intro-three, #intro-four
  color: white
  font-family: $sec-font
  +responsive-font(1vw, 17px, 20px)
  padding-left: 2.5vw
  line-height: 30px
  letter-spacing: 0.06em
  margin-bottom: 28px
  animation-name: slowFadeIn
  animation-duration: 1.7s
  @media (max-width: $break-mid)
    +responsive-font(2vw, 14px, 17px)
    line-height: 20px
    margin-bottom: 5px
    padding: 0 15px 0 13px

#intro-two
  margin-bottom: 45px
  @media (max-width: $break-mid)
    margin-bottom: 40px
  @media (max-width: $break-small)
    margin-bottom: 38px

#intro-three, #intro-four
  animation-name: slowestFadeIn
  animation-duration: 3s

@keyframes slowFadeIn
  0%
    opacity: 0
  50%
    opacity: 0
  75%
    opacity: 0
  100%
    opacity: 1

@keyframes slowestFadeIn
  0%
    opacity: 0
  50%
    opacity: 0
  75%
    opacity: 0
  100%
    opacity: 1

.location
  color: $location-color

.email a, .projects a, .git a
  text-decoration: none

#error-heading
  +responsive-font(1vw, 5px, 10px)
  margin-top: 300px
  margin-left: 50%
  font-family: $main-font

#info-text
  margin-left: 10px

#go-home
  +responsive-font(2.5vw, 18px, 20px)
  margin-left: 40%

#bottom-background
  position: fixed
  z-index: 0
  background-image: linear-gradient(to top, darken(#252525, 1%) 0%, transparentize(#1d1d1d, 0.9) 100%)
  bottom: 0
  left: 0
  width: 100vw
  height: 15vw
  max-height: 150px
  min-height: 145px
  @media (max-width: $break-small)
    height: 33vw

#footer
  position: fixed
  right: 2%
  bottom: 2%
  z-index: 4
