/// Viewport sized typography with minimum and maximum values
/// @author Eduardo Boucas (https://codepen.io/eduardoboucas/)
=responsive-font($responsive, $min, $max: false, $fallback: false)
  $responsive-unitless: $responsive / ($responsive - $responsive + 1)
  $dimension: if(unit($responsive) == "vh", "height", "width")
  $min-breakpoint: $min / $responsive-unitless * 100 / 16px + 0em
  @media (max-#{$dimension}: #{$min-breakpoint})
    font-size: $min
  @if $max
    $max-breakpoint: $max / $responsive-unitless * 100 / 16px + 0em
    @media (min-#{$dimension}: #{$max-breakpoint})
      font-size: $max
  @if $fallback
    font-size: $fallback
  font-size: $responsive

$main-font: "Fira Code"
$sec-font: "Inconsolata"

$break-large: 1400px
$break-mid: 775px
$break-small: 500px

body, html
  height: 100%
  width: 100%
  overflow-y: scroll
  overflow-x: hidden
  @media (max-width: $break-mid)
    overflow: hidden

#description
  color: white
  font-weight: 10
  margin: 125px 60px 0 15px
  font-family: $sec-font
  +responsive-font(1vw, 18px, 21px)
  letter-spacing: 0.02em
  animation-name: textFadeIn
  animation-duration: 1.3s
  @media (max-width: $break-mid)
    margin-top: 96px
  @media (max-width: $break-small)
    +responsive-font(1vw, 17px, 18px)
    margin: 70px 18px 15px 7px

@keyframes textFadeIn
  0% 
    opacity: 0
  100%
    opacity: 1

#cursor
  color: white
  margin-left: 5px
  position: relative
  bottom: 2px
  +responsive-font(4vw, 19px, 21px)
  animation: blink 1.8s infinite
  -webkit-animation: fade 1s infinite
  @media (max-width: $break-mid)
    +responsive-font(1vw, 15px, 16px)

@keyframes fade
  from
    opacity: 1.0
  50%
    opacity: 0
  to
    opacity: 2.0

// PROJECTS SECTION

#projects-display
  width: 70%
  height: 75vh
  padding: 15px 15px 15px 0
  display: flex
  overflow-y: scroll  
  overflow-x: hidden
  margin: 0 60px 0 0
  animation-name: slowFadeIn
  animation-duration: 1.2s
  @media (max-width: $break-large)
    width: 65%
  @media (max-width: $break-mid)
    margin-top: 25px
    padding-bottom: 70px !important
    height: 62vh
  @media (max-width: 980px)
    margin-top: 15px
    width: 93%
  @media (max-width: $break-small)
    height: 105vh
    width: 96%

@keyframes slowFadeIn
  0%
    opacity: 0
  50%
    opacity: 0
  75%
    opacity: 0
  100%
    opacity: 1

#project-cards
  margin: 0
  list-style: none
  columns: 2
  padding: 25px
  column-gap: 33px
  width: 100%
  height: 100%
  @media (max-width: $break-mid)
    width: 80%
    height: 140%
    columns: 1
    display: flex
    flex-direction: column
    align-items: center
  @media (max-width: 680px)
    width: 90%
  @media (max-width: $break-small)
    padding: 5px
    padding-bottom: 360px !important

.card
  display: flex
  align-items: center
  justify-content: space-evenly
  overflow: hidden
  border: 3px solid #70324c
  padding: 10px 10px 0 20px
  margin: 0 0 30px 5px
  height: 175px
  border-radius: 10px
  background: #000000
  transition: all 0.2s ease-in
  &:hover
    transform: scale(1.02)
    cursor: pointer
    box-shadow: 0 0 19px #743c53
    transition: all 0.2s ease-in
  @media (max-width: $break-mid)
    padding: 20px 20px 10px 30px
  @media (max-width: $break-small)
    padding: 10px 10px 0 20px

.project-heading
  font-family: $main-font
  +responsive-font(1.7vw, 18px, 21px)
  display: inline

.language
  width: max-content
  display: inline
  float: right
  margin: 5px 0 0 0

.project-language
  display: inline
  +responsive-font(1.5vw, 16px, 17px)

.language-circle
  width: 13px
  height: 13px
  display: inline-block
  border-radius: 20px
  margin-right: 5px
  @media (max-width: 985px)
    height: 12px
    width: 12px
  @media (max-width: $break-small)
    width: 11px
    height: 11px

.project-language, .project-link, .project-info, .project-tech
  color: #EAEAEA
  font-family: $sec-font
  text-decoration: none

.project-tech
  font-style: italic
  color: #fff
  +responsive-font(2vw, 14px, 16px)

.project-info
  +responsive-font(1.9vw, 13px, 15px)
  font-weight: 10
  color: #c9c9c9

.javascript
  background: #dbcc30
  
.python
  background: #428fce

.rust
  background: #ffcea5

.shell
  background: #89e051

#bottom-background
  position: fixed
  z-index: 1
  background-image: linear-gradient(to top, darken(#000000, 1%) 50%, transparentize(#000000, 1) 100%)
  bottom: 0
  left: 0
  width: 100vw
  height: 15vw
  max-height: 170px
  min-height: 100px
  @media (max-width: 768px)
    height: 34vw
  @media (max-width: $break-small)
    height: 18vw
    background-image: linear-gradient(to top, darken(#000000, 1%) 60%, transparentize(#000000, 1) 100%)