extends ../layout

block head
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fira+Code&display=swap")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata&display=swap")
    
    //- CSS file for individual project page
    link(rel="stylesheet" href="/stylesheets/project.min.css")

block content