extends ../layout

block head
    // CSS file for individual project page
    link(rel="stylesheet" href="/public/stylesheets/normalize.min.css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fira+Code&display=swap")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata&display=swap")
    // home CSS file
    link(rel="stylesheet" href="/stylesheets/main.min.css")

block content