extends ../layout

block head
  // CSS file for the projects page
  link(rel="stylesheet" href="/stylesheets/main.min.css")

append content
    #particles-js
    #terminal
        h1#prompt jazak
            span#symbol  &#8226;
            span#root  ~
            span#directory /Projects
            span#arrow » 
            span#cursor _

    #nav
        p#github-link 
            a(target="_blank" rel="noreferrer" href="https://github.com/jaza-k") GitHub
        span.space &nbsp;
        p#resume-link 
            a(href="#") Résumé
        span.space &nbsp;
        p#projects-link
            a(href="/projects") Projects
        span.space &nbsp;
        p#contact-link
            a(href="#" id="email-link" title="email-alert") Contact

    h3 Here are some of my most recent projects. To view more, visit my 
        span.git #[a(href="https://github.com/jaza-k" style="color:#6DDF6B;" target="_blank" rel="noreferrer") #[em GitHub]]
        span .

    #tester-div
        p.yo Im a project!

    #tester-div2
        p.yo Im a project!

block scripts
    script(src="/lib/particles.min.js")
    script(src="/js/home.js")